<div class="container">
    <div class="row">
        <br><br><br><br><br><br><br>
        <div>
            <h1 id="signupHeader" class="text-center font-weight-bold text-danger">Sign Up</h1>
        </div>
        <br>
    </div>
    
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form  [formGroup]="signupForm" (ngSubmit)="onCreatePost(this.signupForm.value);onSubmit()" >
                
                    <div class="form-group col-md-6 mb-3">
                        <label>First name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="firstname" 
                        placeholder="First name" 
                        formControlName="firstName" 
                        [ngClass]="{ 'is-invalid': submitted && formFieldsGetter.firstName.errors }"                                   
                        >
                        <div *ngIf="submitted && formFieldsGetter.firstName.errors" class="invalid-feedback">
                            <div *ngIf="formFieldsGetter.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label>Last name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="lastname" 
                        placeholder="Last name" 
                        [ngClass]="{ 'is-invalid': submitted && formFieldsGetter.lastName.errors }"
                        formControlName="lastName">      
                        <div *ngIf="submitted && formFieldsGetter.lastName.errors" class="invalid-feedback">
                            <div *ngIf="formFieldsGetter.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                


                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">

                            </div>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="username" 
                            placeholder="Username"
                            formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && formFieldsGetter.username.errors }">
                            <div *ngIf="submitted && formFieldsGetter.username.errors" class="invalid-feedback">
                                <div *ngIf="formFieldsGetter.username.errors.required">Username is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label >Email</label>
                            <input 
                            type="email" 
                            class="form-control" 
                            id="signupEmail" 
                            placeholder="Email" 
                            email
                            formControlName="signupEmail"
                            [ngClass]="{ 'is-invalid': submitted && formFieldsGetter.signupEmail.errors }">
                            <div *ngIf="submitted && formFieldsGetter.signupEmail.errors" class="invalid-feedback">
                                <div *ngIf="formFieldsGetter.signupEmail.errors.required">Email is required</div>
                            </div>
                            
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>Password</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        id="signupPassword" 
                        placeholder="Password" 
                        formControlName="signupPassword"
                        [ngClass]="{ 'is-invalid': submitted && formFieldsGetter.signupPassword.errors }">
                        <div *ngIf="submitted && formFieldsGetter.signupPassword.errors" class="invalid-feedback">
                            <div *ngIf="formFieldsGetter.signupPassword.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label >Confirm Password</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        id="confirmPassword" 
                        placeholder="Confirm Password"
                        formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': submitted && formFieldsGetter.confirmPassword.errors }">
                        <div *ngIf="submitted && formFieldsGetter.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="formFieldsGetter.confirmPassword.errors.required">Resubmit password</div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Remember Me
                        </label>
                        <div class="invalid-feedback">

                        </div>
                    </div>
                </div>
                <button 
                
                class="btn btn-primary" 
                type="submit"
                
                >Register</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>